/* CSS Document */
body {
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	background-color: #FFFFFF;
}
img {
	border-width: 0px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #1F600E;
	border-bottom: 1px solid #FF6600;
	margin-top: 0px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #1F600E;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #1F600E;
	line-height: 50%;
}

h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #1F600E;
	line-height: 50%;
}

a:link, a:visited {
	text-decoration: underline;
	color: #1F600E;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #009933;
}

/********** SELETTORI ID **********/
#container {
	float: left;
	width: 764px;
	background-color: #FFFFFF;
}

/********* INTESTAZIONE *********/
#intestazione{
	margin: 2px 2px 0px 2px;
	background: url(../../img/intestazione2.jpg) no-repeat center;
	width: 764px;
	height: 96px;
	overflow: hidden;
}

/********* MENU *********/
#menu {
	float: left;
	width: 764px;
	background-color: #009933;
	border-left: 2px solid white;
	border-bottom: 0px solid white;
	border-right: 2px solid white;
	margin: 0px;
	font-size: 9px;
}

/********* INTESTAZIONE *********/
#intestazione{
	margin: 2px 2px 0px 2px;
	background: url(../../img/intestazioneITA.jpg) no-repeat center;
	width: 764px;
	height: 96px;
	overflow: hidden;
}

/* MENU PRINCIPALE */
.menuNavigazione{
	margin: -15px 0px 0px 0px;
	padding: 0;
	list-style: none;
	height: 2em;
}
.menuNavigazione li{
	float: left;
	position: relative;
	margin: 0 1px;
}
.menuNavigazione a{
	float:left;
	height:2em;
	line-height:2em;
	padding:0 1em;
	text-decoration: none;
	white-space: nowrap;
}

/* SOTTO MENU */
.menuNavigazione ul{
	margin: 1px 0px 0px 0px;
	padding:0;
	list-style:none;
}
.menuNavigazione ul li{
	float:none;
}
.menuNavigazione ul a{
	float:none;
	display:block;
	height:1.8em;
	line-height:1.8em;
}

/* MENU ON OFF */
.menuNavigazione ul,
.menuNavigazione ul.subMenu-off{
	position:absolute;
	visibility:hidden;
}
.menuNavigazione ul.subMenu-on{
	visibility:visible;
}

/* POSIZIONAMENTO DEL SOTTO MENU */
.menuNavigazione ul.subMenu-on{
	position:absolute;	/* primo livello di annidamento: menu a discesa */
	top: 2em;
	left: 0px;
	visibility:visible;
}

/* COLORI */
.menuNavigazione{
	color:#FFFFFF;
}
.menuNavigazione a {
	border-left: 1px solid #007025;
	border-top: 1px solid #007025;
	border-right: 1px solid #007025;
}
.menuNavigazione ul a {
	border-right:1px solid #000000;
	border-left:1px solid #000000;
	border-bottom:1px solid #FFFFFF;
}

.menuNavigazione a:link,
.menuNavigazione a:visited {
	text-decoration: none;
	background: #009933;
	color: #FFFFFF;
}

/* EFFETTO ROLLOVER */
.menuNavigazione a:hover,
.menuNavigazione a:focus,
.menuNavigazione a:active{
	text-decoration: none;
	background: #00FF55;
	color: #00280D;
}

#attivo {
	text-decoration: none;
	background: #00FF55;
	color: #00280D;
}

/********* CENTRALE *********/
#centrale{
	float: left;
	width: 764px;
	margin-top: 3px;
	margin-bottom: 3px;
	/*background: url("../images/sfondo.jpg") repeat-y 0;*/
	/*border: 1px dotted violet;*/
}

/********* FOTO *********/
#foto {
	float: left;
	width: 160px;
	padding: 5px;
	padding-top: 10px;
}

input.pulsante {
	border-width: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
	color: #000000;
	background-image: url(../../img/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	line-height: 6px;
	padding-left: 10px;
}

/* EFFETTO ROLLOVER */
input.pulsante:hover,
input.pulsante:focus,
input.pulsante:active{
	background-image: url(../../img/arrowH.gif);
	background-repeat: no-repeat;
	background-color: #009933;
	color: #FFFFFF;
}

/********* CORPO *********/
#corpo{
	float: left;
	padding-left: 15px;
	padding-right: 10px;
}

#corpo p{
	text-align: justify;
}

#corpo ul {
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

#corpo li {
	background-image: url(../../img/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	line-height: 13px;
	padding-left: 15px;
}

#corpo.people {
	width: 560px;
}

.avviso {
	color: #990000;
	font-weight: bold;
}

.progetto {
	width: 715px;
	height: 100px;
	margin-left: 5px;
	border-bottom: 1px solid #990000;
}

.progetto h2 {
	width: 600px;
	border: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.progetto h3 {
	line-height: 10px;
	color: #666666;
	font-weight: normal;
	margin-top: 5px;
}

.progetto a {
	text-decoration: none;
	color: #990000;
}

.progetto p {
	color: #666666;
}

.evidenza {
	color: #1F600E;
	font-style: italic;
}

.mail {
	color: #1F600E;
	font-style: italic;
	/*font-weight: bold;*/
}

.titolo {
	font-weight: bold;
}

.titoloTesi {
	color: #990000;
	font-style: italic;
}

.titoloPropostaTesi {
	display: block;
	margin-left: -15px;
	color: #990000;
	font-weight: bold;
}

.corpoPropostaTesi {
	padding-left: 15px;
	padding-right: 15px;
}

.lauree {
	font-family: Arial, Helvetica, sans-serif;
	color: #990000;
	font-style: italic;
	font-size: 12px;
}

.docente {
	font-family: Arial, Helvetica, sans-serif;
	color: #1F600E;
	font-weight: bold;
	font-size: 12px;
}

.rientro {
	display: block;
	padding-left: 20px;
}

/********* NEWS *********/
#news {
	float: left;
	width: 126px;
	padding: 0px;
	margin-left: 5px;
	/*border: 1px dotted cyan;*/
}

/********* FONDO *********/
#flags{
	float: left;
	width: 766px;
}

#linguaITA, #linguaENG {
	float: right;
	margin: 2px;
	/*display: block;*/
	width: 20px;
	height: 13px;
	/*border: 1px dotted yellow;*/
}

#linguaITA {
	background: url(../../img/ita.gif) no-repeat 0;
}

#linguaENG {
	background: url(../../img/eng.gif) no-repeat 0;
}


/********* EXTRA *********/
.imgTesto{
	padding-right: 8px;
}

/********* KWEEPY *********/
#kweepy {
	float:left;
	width: 779px;
	text-align: center;
	margin: 3px;
	font-size: 9px;

}
#kweepy a:link, #kweepy a:visited, #kweepy a:hover, #kweepy a:active {
	text-decoration: none;
	color: #999999;
}
