#corpo {
	float: none !important; /* Come mai??? */
}

.iconalink {
	text-decoration: none !important;
	cursor: pointer;
}

.iconalink:hover {
	background: none;
}

.etichetta {
	font-weight: bold;
}

em.richiesto {
	color: red;
}

form label.error {
	font-weight: bold;
	color: red;
	display: inline;
	float: none !important;
	padding-left: 5px;
}


.submitbutton {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .4em 1.8em .45em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	        box-shadow: 0 1px 2px rgba(0,0,0,.2);

	color: #E1F0DE;
	border: solid 1px #228312;
	background: #27991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#41b72f), to(#137d0e));
	background: -moz-linear-gradient(top,  #41b72f,  #137d0e);
	background: -o-linear-gradient(#41b72f, #137d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#41B72F', endColorstr='#137d0e');
	font-weight: bold;
}

.submitbutton:hover {
	text-decoration: none;
	background: #1d8018;
	background: -webkit-gradient(linear, left top, left bottom, from(#2f9d28), to(#136b0c));
	background: -moz-linear-gradient(top,  #2f9d28,  #136b0c);
	background: -o-linear-gradient(#2f9d28, #136b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f9d28', endColorstr='#136b0c');
}

.submitbutton:active {
	position: relative;
	top: 1px;
	color: #92c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#137d0e), to(#41b72f));
	background: -moz-linear-gradient(top,  #137d0e,  #41b72f);
	background: -o-linear-gradient(#137d0e, #41b72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#137d0e', endColorstr='#41b72f');
}

.submitbutton::-moz-focus-inner {
  border: 0;
}

strong.errore {
	color: #E30700;
}

/* FORM INSERIMENTO PUBBLICAZIONE */
#form-pubblicazione #titolo,
#form-pubblicazione #autori,
#form-pubblicazione #curatori_libro,
#form-pubblicazione #titolo_contesto,
#form-pubblicazione #editore,
#form-pubblicazione #isbn,
#form-pubblicazione #autori_libro {
	width: 30em;
}


.opt_libro, .opt_conferenza, .opt_monografia, .opt_curatela {
	display: none;
}

.form_list {
	list-style: none;
}

.form_list li {
	padding-bottom: 1em;
}

.form_list li label {
	float: left;
	width: 8em;
	margin-right: 1em;
}

.form_list li label.label_secondaria {
	float: none;
	width: auto;
}

#anno, #volume, #numero, #pag_inizio, #pag_fine, #num_pagine {
	width: 4em;
}

#form-pubblicazione #numero {
	margin-left: 1.4em;
}

#loginform label {
	display: block;
	color:#777;
	font-size:14px;
}

#loginform {
	width: 272px;
	margin: 3em auto;
	padding: 26px 24px 46px;
	font-weight: normal;

	   -moz-border-radius: 3px;
	 -khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;

	background: #fff;
	border: 1px solid #e5e5e5;
	   -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	 -khtml-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	        box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

#loginform p {
	margin: 0;
}

#loginform .forgetmenot{
	font-weight:normal;
	float:left;
	margin-bottom:0;
}

#loginform .forgetmenot label {
	font-size:12px;
	line-height:19px;
}

#loginform .submit {
	float:right;
}

#loginform .input {
	color: #555;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:200;
	font-size:24px;
	width:97%;
	padding:3px;
	margin-top:2px;
	margin-right:6px;
	margin-bottom:16px;
	border:1px solid #e5e5e5;
	background:transparent;
	outline:none;
	   -moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
	-webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
	        box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
}

#corpo .iconlist li {
	background-position: 0 7px;
}

.linkconicona {
	background-repeat: no-repeat;
	padding: 2px 0 2px 20px;
	line-height: 20px;
}

.linksenzaicona {
	background-repeat: no-repeat;
	padding: 2px 0 2px 2px;
	line-height: 20px;
}

.frmchangepassword label {
	display: block;
}

.btn_pericolo {
	padding: 2px 10px;
	background-color: red;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	color: white !important;
	font-weight: bold;
	text-decoration: none !important;
}

/***********
    ADMIN
***********/
.adminmenu {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* W3C */
	padding: 10px 5px 10px 15px !important;
	margin: 0 0 15px 0 !important;
	border: 1px solid #ccc;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;


	   -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.adminmenu li {
	display: inline;
	background-image: none !important;
	padding-left: 0 !important;
	margin-right: 10px;
	line-height: 20px !important;
}

.adminmenu a {
	text-decoration: none;
	padding-right: 2px;
	text-shadow: 0px 1px 1px #fff;
}

.adminmenu a:hover {
	text-shadow: 0px 1px 1px #050;
	   -moz-box-shadow: 0 0 3px #160;
	-webkit-box-shadow: 0 0 3px #160;
	        box-shadow: 0 0 3px #160;
}


.adminmenu ul {
	display: inline;
	float: right;
	margin: 0 !important;
	padding: 0;
}

/****************
    CORSI
****************/
#frm_corso .contenuti label {
	font-weight: bold;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}

#frm_corso .lista_checkbox li {
	background: none;
}

#frm_corso .lista_checkbox {
	margin-top: 0;
	margin-right: 50px;
}

#frm_corso #lista_facolta span,
#frm_corso #lista_facolta ul,
#frm_corso #lista_docenti span,
#frm_corso #lista_docenti ul {
	float: left;
}

.clear {
	clear: both;
}

#frm_corso #lista_facolta ul {
	width: 350px;
}

#tbl_insert_docenti input[type="checkbox"],
#lista_facolta input[type="radio"] {
	float: left;
	margin-top: 0;
}

#tbl_insert_docenti label,
#lista_facolta label {
	margin-left: 23px;
	display: block;
	line-height: 150%;
}

#tbl_insert_docenti td {
	vertical-align: top;
}

#tbl_insert_docenti input[type="radio"] {
	margin-top: 0;
}


#frm_corso #nomecorso {
	width: 500px;
}

#frm_corso .invio {
	display: block;
	width: 10em;
	margin: 2em auto;
}

/*** GESTIONE NEWS ***/
.lista-dnd {
	padding: 0;
}

.lista-dnd li {
	list-style: none;
	background: none;
	background-color: #f8f8f8;
	border: 1px solid #63D657;
	margin-bottom: 5px;
	padding: 4px 4px 4px 1.5em;
}

.lista-dnd li span.ui-icon-arrowthick-2-n-s {
	position: absolute;
	margin-left: -1.3em;
	cursor: move;
}

.lista-dnd a.iconalink {
	vertical-align: middle;
}

#lista-news .scaricafile {
	float: left;
	margin-right: 5px;
}

#news-saved-attachment {
	position: absolute;
	margin-top: 2.5em;
	left: 7em;
	color: #666;
	display: none;
}

#news-dialog-form fieldset.esteso {
	padding-bottom: 2em;
}

#avviso-no-news {
	display: none;
}


/*** SEZIONI MATERIALE DIDATTICO ***/

#titolo-sezione {
	width: 400px;
}

#file-dialog-form {
	position: relative;
}

#file-dialog-form .dx {
	position: absolute;
	left: 9em;
}

#file-dialog-form p {
	clear: both;
}

#titolo-file, #url-file {
	width: 350px;
}

#tbl_insert_docenti .option {
	text-align: center;
}

.listafiles img {
	vertical-align: sub;
}

.listafiles li {
	margin-bottom: 2px;
}

.testo {
	color: #555;
	padding:3px;
	outline:none;
	margin-left: 3px;

	border: 1px solid #c5c5c5;

	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #eee 4%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(4%,#eee), color-stop(100%,#fff));
	background: -webkit-linear-gradient(top, #fff 0%,#eee 4%,#fff 100%);
	background: -o-linear-gradient(top, #fff 0%,#eee 4%,#fff 100%);
	background: -ms-linear-gradient(top, #fff 0%,#eee 4%,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#fff',GradientType=0 );
	background: linear-gradient(top, #fff 0%,#eee 4%,#fff 100%);

	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);
	        box-shadow: 0 0 6px rgba(0,0,0,0.1);

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;

	-webkit-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

.testo:hover {
	border-color: #999;
	   -moz-box-shadow: 0 0 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
	        box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.testo:focus {
	border-color: rgba(55,197,43, 0.2);

	-webkit-box-shadow: inset 1px 1px 3px #e9e9e9,
	                    0 0 5px #37C52A;
	   -moz-box-shadow: inset 1px 1px 3px #e9e9e9,
	                    0 0 5px #37C52A;
	        box-shadow: inset 1px 1px 3px #e9e9e9,
	                    0 0 5px #37C52A;
}
