.iconalink:hover {
	background: none;
}

#titolo, #autori, #autori_libro, #info_addizionali {
	width: 40em;
}

#titolo_contesto, #editore {
	width: 20em;
}

.opt_libro, .opt_conferenza, .opt_monografia, .opt_curatela {
	display: none;
}

.form_list {
	list-style: none;
}

.form_list li {
	padding-bottom: 1em;
}

.form_list li label {
	float: left;
	width: 8em;
	margin-right: 1em;
}

.form_list li label.label_secondaria {
	float: none;
	width: auto;
}

#anno, #volume, #numero, #pag_inizio, #pag_fine {
	width: 4em;
}

#loginform label {
	display: block;
}

#corpo .iconlist li {
	background-position: 0 7px;
}

.linkconicona {
	background-repeat: no-repeat;
	padding: 2px 0 2px 20px;
}

.frmchangepassword label {
	display: block;
}

.btn_pericolo {
	padding: 2px 10px;
	background-color: red;
	border-radius: 4px;
	color: white !important;
	font-weight: bold;
	text-decoration: none !important;
}
